@page
@using Microsoft.AspNetCore.Authentication.Facebook
@using Microsoft.AspNetCore.Authentication.Google
@model Guexit.IdentityProvider.WebApi.Pages.Account.Login.Index

<div class="login-page">
    
    <div class="flex text-center m-5">
        <img src="~/guexit-logo.svg" alt="Guexit">
    </div>
    
    <partial name="_ValidationSummary" />

    <div class="row p-3">

        @if (Model.View.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <form asp-page="/Account/Login/Index">
                    <input type="hidden" asp-for="Input.ReturnUrl" />

                    <div class="form-group">
                        <label asp-for="Input.Username">Email</label>
                        <input class="form-control bold-text login-input" placeholder="Enter your email..." asp-for="Input.Username" autofocus>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input type="password" class="form-control bold-text login-input" placeholder="Enter your password..." asp-for="Input.Password" class="bold-text" autocomplete="off">
                    </div>

                    <div class="row g-2 mt-4">
                        <div class="col-6">
                            <button class="button primary-button bold-text btn-block" id="Button_Login" name="Input.Button" value="login">Login</button>
                        </div>
                        <div class="col-6">
                            <a class="unstyled button secondary-button bold-text btn-block"
                                    asp-page="/Account/Register"
                                    asp-route-ReturnUrl="@Model.Input.ReturnUrl">
                                Sign Up
                            </a>
                        </div>
                    </div>


                    @if (Model.View.AllowRememberLogin)
                    {
                        <div class="form-group mt-3">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="Input.RememberLogin">
                                <label class="form-check-label bold-text small" asp-for="Input.RememberLogin">
                                    Remember this device
                                </label>
                            </div>
                        </div>
                    }
                </form>
            </div>
        }
        
        @if (Model.View.VisibleExternalProviders.Any())
        {
            <div class="col-sm-6 divider-with-text mb-3">
                <span class="divider-line"></span>
                <span class="divider-text small">or continue with</span>
                <span class="divider-line"></span>
            </div>

            <div class="col-sm-6 mb-3">
                <div class="row g-2 ">
                    @{
                        var googleExternalLogin = Model.View.VisibleExternalProviders.FirstOrDefault(x => x.AuthenticationScheme == GoogleDefaults.AuthenticationScheme);
                        var facebookExternalLogin = Model.View.VisibleExternalProviders.FirstOrDefault(x => x.AuthenticationScheme == FacebookDefaults.AuthenticationScheme);
                    }

                    @if (facebookExternalLogin is not null)
                    {
                        <div class="col-6">
                            <a class="unstyled button primary-button bold-text btn-block facebook-button"
                                    asp-page="/ExternalLogin/Challenge"
                                    asp-route-scheme="@facebookExternalLogin.AuthenticationScheme"
                                    asp-route-returnUrl="@Model.Input.ReturnUrl">
                                @facebookExternalLogin.DisplayName
                            </a>
                        </div>
                    }

                    @if (googleExternalLogin is not null)
                    {
                        <div class="col-6">
                            <a class="unstyled button primary-button bold-text btn-block google-button"
                                    asp-page="/ExternalLogin/Challenge"
                                    asp-route-scheme="@googleExternalLogin.AuthenticationScheme"
                                    asp-route-returnUrl="@Model.Input.ReturnUrl">
                                @googleExternalLogin.DisplayName
                            </a>
                        </div>
                    }
                </div>
            </div>
        }

        @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this request.
            </div>
        }
    </div>
</div>