@page
@using AspNet.Security.OAuth.Discord
@using AspNet.Security.OAuth.Twitch
@using Microsoft.AspNetCore.Authentication.Google
@using Microsoft.Extensions.Localization
@model Guexit.IdentityProvider.WebApi.Pages.Account.Login.Index
@inject IStringLocalizer<Guexit.IdentityProvider.WebApi.Pages.Account.Login.Index> Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Localizer["LoginPageTitle"]</title>
    <link rel="stylesheet" href="~/css/main.css">
    <script src="~/js/main.js" defer></script>
</head>
<body>
    <section class="auth-section">
        <img src="~/assets/logo.svg" height="128px" alt="Guexit">
        <div class="fast-mode">
            <div class="login-container">
                <h3>@Localizer["StartFast"]</h3>
                @if (Model.View.VisibleExternalProviders.Any())
                {
                    var googleExternalLogin = Model.View.VisibleExternalProviders.FirstOrDefault(x => x.AuthenticationScheme == GoogleDefaults.AuthenticationScheme);
                    var discordExternalLogin = Model.View.VisibleExternalProviders.FirstOrDefault(x => x.AuthenticationScheme == DiscordAuthenticationDefaults.AuthenticationScheme);
                    var twitchExternalLogin = Model.View.VisibleExternalProviders.FirstOrDefault(x => x.AuthenticationScheme == TwitchAuthenticationDefaults.AuthenticationScheme);

                    @if (googleExternalLogin != null)
                    {
                        <a class="primary button" asp-page="/ExternalLogin/Challenge" asp-route-scheme="@googleExternalLogin.AuthenticationScheme" asp-route-returnUrl="@Model.Input.ReturnUrl">
                            <img src="~/assets/google.svg" alt="">
                            <span>@Localizer["LoginWithGoogle"]</span>
                        </a>
                    }
                    @if (discordExternalLogin != null)
                    {
                        <a class="default button" asp-page="/ExternalLogin/Challenge" asp-route-scheme="@discordExternalLogin.AuthenticationScheme" asp-route-returnUrl="@Model.Input.ReturnUrl">
                            <img src="~/assets/discord.svg" alt="">
                            <span>@Localizer["LoginWithDiscord"]</span>
                        </a>
                    }
                    @if (twitchExternalLogin != null)
                    {
                        <a class="default button" asp-page="/ExternalLogin/Challenge" asp-route-scheme="@twitchExternalLogin.AuthenticationScheme" asp-route-returnUrl="@Model.Input.ReturnUrl">
                            <img src="~/assets/twitch.svg" alt="">
                            <span>@Localizer["LoginWithTwitch"]</span>
                        </a>
                    }
                }
                <p style="text-align: center;">@Localizer["CreateAccountNote"]</p>
            </div>
            <div class="separator">
                <hr>
                <p>@Localizer["Or"]</p>
                <hr>
            </div>
            <div class="second-options">
                <a asp-page="/Account/LoginWithEmail" asp-route-ReturnUrl="@Model.Input.ReturnUrl"><b>@Localizer["LoginWithEmail_bold"]</b>@Localizer["LoginWithEmail"]</a>
                <a asp-page="/Account/Register" asp-route-ReturnUrl="@Model.Input.ReturnUrl"><b>@Localizer["CreateAccount_bold"]</b>@Localizer["CreateAccount"]</a>
            </div>
        </div>
    </section>
</body>
</html>