@page
@using AspNet.Security.OAuth.Discord
@using AspNet.Security.OAuth.Twitch
@using Microsoft.AspNetCore.Authentication.Google
@model Guexit.IdentityProvider.WebApi.Pages.Account.Login.Index

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Guexit</title>
    <link rel="stylesheet" href="~/css/main.css">
    <script src="~/js/main.js" defer></script>
</head>
<body>
    <section class="auth-section">
        <img src="~/assets/logo.svg" height="128px" alt="Guexit">
        <div class="fast-mode">
            <div class="login-container">
                <h3>Start Fast!</h3>
                @if (Model.View.VisibleExternalProviders.Any())
                {
                    var googleExternalLogin = Model.View.VisibleExternalProviders.FirstOrDefault(x => x.AuthenticationScheme == GoogleDefaults.AuthenticationScheme);
                    var discordExternalLogin = Model.View.VisibleExternalProviders.FirstOrDefault(x => x.AuthenticationScheme == DiscordAuthenticationDefaults.AuthenticationScheme);
                    var twitchExternalLogin = Model.View.VisibleExternalProviders.FirstOrDefault(x => x.AuthenticationScheme == TwitchAuthenticationDefaults.AuthenticationScheme);

                    @if (googleExternalLogin != null)
                    {
                        <a class="primary button"
                           asp-page="/ExternalLogin/Challenge"
                           asp-route-scheme="@googleExternalLogin.AuthenticationScheme"
                           asp-route-returnUrl="@Model.Input.ReturnUrl">
                            <img src="~/assets/google.svg" alt="">
                            <span>Log in with Google</span>
                        </a>
                    }
                    @if (discordExternalLogin != null)
                    {
                        <a class="default button"
                           asp-page="/ExternalLogin/Challenge"
                           asp-route-scheme="@discordExternalLogin.AuthenticationScheme"
                           asp-route-returnUrl="@Model.Input.ReturnUrl">
                            <img src="~/assets/discord.svg" alt="">
                            <span>Log in with Discord</span>
                        </a>
                    }
                    @if (twitchExternalLogin != null)
                    {
                        <a class="default button"
                           asp-page="/ExternalLogin/Challenge"
                           asp-route-scheme="@twitchExternalLogin.AuthenticationScheme"
                           asp-route-returnUrl="@Model.Input.ReturnUrl">
                            <img src="~/assets/twitch.svg" alt="">
                            <span>Log in with Twitch</span>
                        </a>
                    }
                }
                <p style="text-align: center;">This method will create an account if you don’t have one yet 😁</p>
            </div>
            <div class="separator">
                <hr>
                <p>or</p>
                <hr>
            </div>
            <div class="second-options">
                <a href="/Account/Login"><b>Log In</b> with your Guexit Account</a>
                <a href="/Account/Register"><b>Create</b> a Guexit Account</a>
            </div>
        </div>
    </section>
</body>
</html>