@page
@using Microsoft.Extensions.Localization
@model Guexit.IdentityProvider.WebApi.Pages.Account.Logout.Index
@inject IStringLocalizer<Guexit.IdentityProvider.WebApi.Pages.Account.Logout.Index> Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Localizer["LogoutPageTitle"]</title>
    <link rel="stylesheet" href="~/css/main.css">
    <script src="~/js/main.js"></script>
</head>
<body>
    <section class="auth-section">
        <img src="~/assets/logo.svg" height="128px" alt="Guexit">
        <div class="fast-mode">
            <div class="login-container">
                <h3>@Localizer["Logout"]</h3>
                <p>@Localizer["LogoutPrompt"]</p>
                <form asp-page="/Account/Logout/Index">
                    <input type="hidden" name="logoutId" value="@Model.LogoutId"/>
                    <div class="form-group">
                        <button class="primary button">@Localizer["Yes"]</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>